.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.navlogo{
    width: 120px;
}

.navprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}